@import '../variables.scss';

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.no_absolute {
  position: static;
}

.small-loader {
  transform: translateY(4px);
  margin: 0 5px 0 7px;
}