@import '../variables.scss';

.loader {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px
}

.no_absolute {
  position: static;
}

.small-loader {
  transform: translateY(4px);
  margin: 0 5px 0 7px;
}