@import '../variables.scss';

.time-tracker {
  position: relative;
  overflow-y: auto;

  &--form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__field-wrapper {
    display: flex;
    flex-direction: column;

    .time-tracker-input {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
      }

      input {
        padding: 5px;
        outline: none;
        border: 0;
        border-radius: 3px;
        margin: 3px 0 15px 0;
      }
    }

    button {
      border-radius: 3px;
      outline: none;
      border: 0;
      background-color: $info;
      cursor: pointer;
      color: white;
      padding: 5px;
    }
  }

  &__projects {
    &-email {
      display: flex;
      justify-content: flex-end;
      padding-top: 5px;
      font-size: 1.4rem;
      span {
        border-bottom: 1px solid $letters;
      }
    }

    &-description {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      &__single{
        margin-bottom: 15px;

        .highlight_title {
          color: white;
          background-color: $info;
          border-color: transparent !important;
        }
        .single-title {
          border: 1px solid $letters;
          padding: 3px 10px;
          border-radius: 15px;
          cursor: pointer;
          font-size: 1.5rem;

          &:hover {
            color: white;
            background-color: $info;
            border-color: transparent;
          }
        }
      }
    }

    &-entry {
      li {
        margin: 30px 0;

        .entry-wrapper {
          border-radius: 5px;
          background-color: #284253;
          color: $letters;
          font-size: 1.4rem;
          padding: 10px;

          .tooltip {
            position: relative;
            display: inline-block;

            &:hover .tooltiptext {
              visibility: visible;
            }

            .tooltiptext {
              visibility: hidden;
              width: 70px;
              background-color: $info;
              color: #fff;
              text-align: center;
              padding: 5px 0;
              border-radius: 6px;
              right: -10px;
              position: absolute;
              z-index: 1;
              font-size: 1.2rem;
              top: -30px;

              &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: 25%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color:  $info transparent transparent transparent;
              }
            }
          }

          .entry-date {
            border-bottom: 1px solid #6d6d6d;
            padding-bottom: 5px;
            font-size: 1.3rem;
            display: flex;
            justify-content: space-between;
          }

          .entry-info {
            display: grid;
            grid-template-columns: 2fr 3fr;
            padding: 30px 0 20px 0;
            align-items: center;

            .tags {
              font-size: 1.2rem;
            }

            &__title {
              .fa-lock {
                margin: 0 10px 0 0;
                color: $pinky;
              }
              .client-name {
                color: $danger;
                margin-left: 10px;
              }
            }

            &__details {
              display: grid;
              grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr;
              align-items: center;

              div {
                text-align: center;
                border-right: 1px solid $letters;
              }

              .entry-tags {
                margin-left: 10px;
                border-left: 1px solid $letters;
              }

              .entry-start-end {
                span { letter-spacing: 1px; }
              }

              i {
                color: $info;
                cursor: pointer;
                font-size: 1.5rem;
              }

              .fa-calendar-alt {
                margin-left: 15px;
              }

              .fa-play-circle,
              .fa-ellipsis-h {
                font-size: 1.7rem;
              }

              .dollar_billable {
                color: $success;
              }

              .dollar_not_billable {
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
      }
    }
  }
}