@import '../variables.scss';

.time-tracker {
  display: flex;
  justify-content: center;
  align-items: center;

  &__field-wrapper {
    display: flex;
    flex-direction: column;

    .time-tracker-input {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
      }

      input {
        padding: 5px;
        outline: none;
        border: 0;
        border-radius: 3px;
        margin: 3px 0 15px 0;
      }
    }

    button {
      border-radius: 3px;
      outline: none;
      border: 0;
      background-color: $info;
      cursor: pointer;
      color: white;
      padding: 5px;
    }
  }
}