@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables';

html { font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: $bg-dark;
  color: $letters;
  ul { list-style: none; margin: 0; padding: 0;}
  a { text-decoration: none; }
  h1, h2, h3, h4, h5, h6 { margin: 0; }
}


#app {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-size;

  

  @keyframes hide {
    from {
      margin-right: -300px;
    }

    to {
      margin-right: 0;
    }
  }

  .main {
    display: flex;

    .hide {
      animation-name: hide;
      animation-duration: 2s;
      // animation-fill-mode: backwards;
    }

    .view {
      // flex: 4;
    }
  }
}