@import './variables';

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: .5px solid $letters;
  border-radius: 5px;
  margin-bottom: 15px;

  &-title {
    display: inline;
    font-weight: normal;
    font-size: 1.8rem;
    cursor: pointer;
    color: $letters;

    .fa-power-off { font-size: 1.5rem; }
  }

  &-items {
    ul {
      display: flex;

      li {
        margin: 0  0 0 15px;
        cursor: pointer;
        color: $letters;

        .fa-toggle-on,
        .fa-toggle-off {
          font-size: 1.9rem;
          transform: translateY(2px);
        }
      }
    }
  }
}
