@import 'variables';

.sidebar {
  height: calc(100vh - 115px);
  border-radius: 5px;
  margin-right: 15px;
  flex: 1;
  width: 250px;
  background-color: $vue-green;

  .router-link-active {
    color: $bg-blueish;
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 10px;

    li {
      cursor: pointer;
      color: white;
      border: 1px solid transparent;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 5px 0;
      border-radius: 5px;

      &:hover {
        color: $bg-blueish;
      }

      i, span {
        text-align: left;
        flex: 3;
        align-self: center;
      }

      i { margin-right: 15px; flex: 1; text-align: center }
    }
  }
}
