@import 'variables';

.sidebar {
  height: calc(100vh - 65px);
  flex: 1;
  width: 250px;
  background-color: $vue-green;

  ul {
    height: 100%;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    li {
      cursor: pointer;
      color: white;

      &:hover {
        color: $bg-dark;
      }
      i { margin-right: 15px; }
    }
  }
}