// common
$info: #419EF9;
$bg-dark: #1e1e2e;
$bg-blueish: #27293d;
$vue-green: #40b27e;
$letters: #d8d8db;
$pinky: #f65c93;
$base-size: 1.6rem;

// trello related
$trello-board-bg: #d5d5db;
$trello-board-letters: #3E4F6B;