@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables';

html { font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  color: $letters;
  ul { list-style: none; margin: 0; padding: 0;}
  a { text-decoration: none; color: inherit; }
  h1, h2, h3, h4, h5, h6 { margin: 0; }
  input { padding: 0; }
}

#app {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-size;
  padding: 15px;
  background-color: $bg-dark;

  .main {
    display: grid;
    grid-template-columns: 2fr 12fr;

    .view {
      height: calc(100vh - 110px);
      padding: 0 15px;
      border-radius: 5px;
      background-color: $bg-blueish;

      @media (min-width: 1550px) {
        height: calc(100vh - 109px);
      }
    }
  }

  .full_width {
    display: grid;
    grid-template-columns: 1fr !important;
  }

}

.light {
  background-color: $bg-light !important;

  .main {
    .view {
      background-color: $bg-light-blueish !important;
      color: $bg-blueish;
    }
  }
}
