// common
$info: #419EF9;
$success: #00BF9A;

$bg-dark: #1e1e2e;
$bg-light: white;
$bg-light-blueish: #b3dbe7;

$bg-blueish: #27293d;
$vue-green: #40b27e;
$letters: #d8d8db;
$pinky: #f65c93;
$primary: #E66AD2;
$danger: #FD77A4;
$base-size: 1.6rem;

// trello related
$trello-board-bg: #d5d5db;
$trello-board-letters: #3E4F6B;