@import '../variables';
.task-planner {
  &__list {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;

    &--item {
      width: 270px;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: $trello-board-bg;
      color: $trello-board-letters;

      ul li {
        background-color: white;
        margin: 10px 0;
        padding: 8px 5px;
        border-radius: 5px;
        font-size: 1.4rem;
      }
    }
  }
}