@import '../variables';
.task-planner {
  overflow: auto;

  &__add-board {
    padding: 15px 15px 0 2px;

    i {
      cursor: pointer;

      &:hover {
        color: $success;
      }
    }
  }

  &__list {
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &--item {
      min-width: 270px;
      max-width: 270px;
      padding: 10px 10px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: $trello-board-bg;
      color: $trello-board-letters;
      margin-right: 15px;

      &-edit {
        display: flex;
        justify-content: space-between;

        .fa-pencil-alt,
        .fa-trash-alt,
        .fa-check {
          cursor: pointer; 
          margin-left: 10px;
        }

        .edit-board-title {

          &__input {
            outline: none;
            border: 0;
            padding: 0 3px;
            font-size: 1.6rem;
            width: 210px;
            border-radius: 5px;

          }
        }
      }

      &-add {
        border: 0;
        width: 100%;
        border-radius: 5px;
        padding: 10px 5px;
        box-sizing: border-box;
        background-color: transparent;
        cursor: pointer;
        outline: none;

        &:hover {
          color: $bg-blueish;
        }

        &:focus {
          border: 0;
          background-color: #eee;
        }
      }

      .prioritized_task {
        background-color: $danger;
        color: white;
      }

      ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        margin: 10px 0;
        padding: 8px 5px;
        border-radius: 5px;
        font-size: 1.4rem;
        word-wrap: break-word;
        cursor: pointer;

        span {
          width: 190px;
        }

        input {
          border: 0;
          outline: none;
          font-size: 1.4rem;
          font-family: 'Open Sans', sans-serif;
          width: 190px;
        }

        .fa-exclamation {
          margin-right: 8px;
        }

        .fa-pen {
          margin-right: 8px
        }
      }
    }
  }
}